html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Ubuntu Mono", monospace;
}

canvas {
  display: block;
}

#p5-container {
  position: fixed;
  z-index: -1;
}

#content-container {
  z-index: 1; 
  background-color: white;
  width: 50%;
  height:fit-content;
  margin: 1% auto;
  border: 5px solid black;
  border-radius: 2em;
}

#title {
  text-align: center;
  font-size:5em;
}

.contact-info{
  text-align: right;
  margin: 1%;
}

.contact-info a {
  margin: 1%;
}

#section_title {
  text-align: left;
  margin: 2%;
  font-size: 3em;
}

#section {
  color: black;
  text-align: justify;
  margin: 2%;
  font-size: 1.5em;
}

#inner {
  margin: 1%;
  border-left: 3px solid rgb(192, 192, 192);
  border-radius: 2em;
}

#inner_title{
  text-align: left;
  margin: 3%;
  font-size: 2em;
}

#inner_section{
  color: black;
  text-align: justify;
  margin: 3%;
  font-size: 1.3em;
  padding-bottom: 1%;
}

#video {
  margin: 1%;
}

#video iframe{
  width: 100%;
  aspect-ratio: 16/9;
  border: 2px solid gray;
  border-radius: 1em;
}