html{
  max-width: 100%;
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #2B2A4C;
  color: #EEE2DE;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #B31312;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

article {
  padding: 20px;
  margin: 20px;
  background-color: #5D0E41;
  border: 5px solid black;
}

article article {
  padding: 20px;
  margin: 20px;
  background-color: #EEE2DE;
  border: 5px solid black;;
  color: #000000;
}

h1 {
  font-size:xx-large;
  margin: 10px;
}

h2 {
  font-size:x-large;
  margin: 10px;
}

h3 {
  font-size:larger;
  margin: 10px;
}

p {
  font-size:large;
  line-height: 1.5;
  margin: 20px;
}

footer {
  background-color: #A0153E;;
  color: white;
  padding: 20px;
  text-align: center;
}

a {
  color: blue;
  text-decoration:underline;
  margin-right: 10px;
}

ul li {
  margin-bottom: 20px;
}