html{
  max-width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #78c0a7;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #00787f;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

article {
  background-color: #7c991f;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px
}

article article {
  background-color: #f6f6ed;;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

video {
  width: 100%;
  max-width: 600px;
}

footer {
  background-color: #f7c573;
  color: #fff;
  padding: 20px;
  text-align: center;
}

div a {
  color: #fff;
  text-decoration:underline;
  margin-right: 10px;
}

a {
  color: blue;
  text-decoration:underline;
  margin-right: 10px;
}

ul li {
  margin-bottom: 20px;
}

.feature {
  display: flex;
  align-items:flex-start; 
}

.feature ul {
  margin-right: 10px;
}